{% extends "tutorials/layout/main.html" %}

{% block title  %} series tutorial {% endblock %}

{% block content %}
<!--series tutorials-->

<!--<iframe-->
<!--        width="560"-->
<!--        height="315"-->
<!--        src="https://www.youtube.com/embed/LzVzen_L2c8"-->
<!--        title="YouTube video player"-->
<!--        frameborder="0"-->
<!--        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--        allowfullscreen>-->
<!--</iframe>-->


<div class="row">
    <div class="col-3">
        <ul class="nav flex-column" >
            {% for tutorial in tutorials %}
            <li class="nav-link title-nav-link" num="{{ tutorial.num }}" role="tab">{{ tutorial.title }}</li>
            {% endfor %}
<!--            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"-->
<!--               aria-controls="v-pills-home" aria-selected="true">Home</a>-->
<!--            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"-->
<!--               aria-controls="v-pills-profile" aria-selected="false">Profile</a>-->
        </ul>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            {% for tutorial in tutorials %}
                <div class="tab-pane fade show active" num="{{tutorial.num}}" >{{ tutorial.desc }}</div>
            {% endfor %}

<!--            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">-->
<!--                1-->
<!--            </div>-->
<!--            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">2-->
<!--            </div>-->
        </div>
    </div>
</div>


{% endblock %}