{% extends "tutorials/layout/main.html" %}

{% block title  %} series tutorial {% endblock %}

{% block content %}
<!--series tutorials-->




<div class="row">
    <div class="col-3">
        <ul class="nav flex-column" >
            {% for tutorial in tutorials %}
            <li class="nav-link title-nav-link" num="{{ tutorial.num }}" role="tab">{{ tutorial.title }}</li>
            {% endfor %}
        </ul>
    </div>
<!--    https://www.youtube.com/watch?v=-QQKdM_vxjU-->
<!--    https://www.youtube.com/watch?v=mE1S9tGvvtY&list=PLDbgPtNOy-yDNvC2UBWwWsJT8J-X5BUzv-->
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            {% for tutorial in tutorials %}
                <div class="tab-pane fade show active tutorial-desc" num="{{tutorial.num}}" >
                    <h2 class="h2">{{ tutorial.title }}</h2>
                    <p class="tutorial-desc">{{ tutorial.desc }}</p>
                    <div class="video-tutorial" id="iframe-video">
<!--                        <iframe-->
<!--                                width="560"-->
<!--                                height="315"-->
<!--                                src="{{ tutorial.video_url }}"-->
<!--                                allowfullscreen>-->
<!--                        </iframe>-->
<!--                        <script type="text/javascript">-->
<!--                            const videoURL = '{{ tutorial.video_url }}';-->
<!--                            console.log("Video utl - ",videoURL)-->
<!--                        </script>-->
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}



