# /etc/systemd/system/gunicorn.service
[Unit]
Description=gunicorn daemon for webdevlab
After=network.target

[Service]
User=shayon
Group=shayon
WorkingDirectory=/home/shayon/webdevlab/server
ExecStart=/home/shayon/webdevlab/server/.venv/bin/gunicorn core.wsgi:application


[Install]
WantedBy=multi-user.target