aniso8601==7.0.0
asgiref==3.7.2
azure-functions==1.18.0
cachetools==5.3.3
certifi==2023.11.17
charset-normalizer==3.3.2
cloudinary==1.37.0
Django==5.0.3
django-cors-headers==4.3.1
django-dotenv==1.4.2
django-filter==24.1
google-api-core==2.17.1
google-api-python-client==2.122.0
google-auth==2.28.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
graphene==2.1.9
graphene-django==2.16.0
graphene-file-upload==1.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==21.2.0
httplib2==0.22.0
idna==3.6
oauthlib==3.2.2
packaging==23.2
promise==2.3
protobuf==4.25.3
psycopg2-binary==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyJWT==1.7.1
pyparsing==3.1.2
python-dotenv==1.0.0
requests==2.31.0
requests-oauthlib==1.4.0
rsa==4.9
Rx==1.6.3
singledispatch==4.1.0
six==1.16.0
sqlparse==0.4.4
text-unidecode==1.3
typing_extensions==4.9.0
uritemplate==4.1.1
urllib3==2.1.0
