#feature-card {
    height: 60vh;

    img {
        max-height: none !important;
        max-width: none !important;
        height: 100% !important;
    }
}

#latest-posts {
    .latest-post-card {
        max-height: none !important;
        max-width: none !important;
        height: 6.9rem;

    }

    .card {
        border: none !important;

        .card-body{
            padding: 0 !important;
        }
    }
}